<h2>vehicles</h2>

<input type="text" [(ngModel)]="searchKeyword" (keyup)="search()">

<select [(ngModel)]="columnName">
    <option value="vehicle">vehicle name</option>
     <option value="manufacturer"> manufacturer</option>
      <option value="cost">cost</option>
       <option value="color">color</option>
</select>

<select [(ngModel)]="sortorder">
    <option value="asc">ascending order</option>
     <option value="desc"> descending order</option>

</select>

<button class="btn btn-warning" (click)="sort()">sort</button>


<select [(ngModel)]="items">
    <option value="5"> 5</option>
     <option value="10"> 10</option>
      <option value="15">15</option>
       <option value="20">20</option>
</select>

<select [(ngModel)]="pageNumber">
    <option value="1"> 1</option>
     <option value="2"> 2</option>
      <option value="3">3</option>
       <option value="4">4</option>
       <option value="5">5</option>
</select>

<button class="btn  btn-success" (click)="pagination()">pagination</button>


<table class="table" >
    <thead>
        <tr>
             <th>vehicle</th>
            <th>manufacturer</th>
            <th>model</th>
            <th>type</th>
            <th>fuel</th>
            <th>color</th>
            <th>image</th>
            <!-- <th>cost</th>
            <th>tyres</th> -->
            <th>id</th>
            <th>Action</th>
        </tr>
    </thead>
          <tbody>
                 <tr *ngFor="let vehicle of vehicles">
                    <td> {{vehicle.Vehicle}}</td>
                    <td> {{vehicle.manufacturer}}</td>
                    <td> {{vehicle.model}}</td>
                    <td> {{vehicle.type}}</td>
                    <td> {{vehicle.fuel}}</td>
                    <td> {{vehicle.color}}</td>
                    <td> <img src="{{vehicle.image}}" width="100px" height="100px"></td>
                    <!-- <td> {{vehicle.cost}}</td>
                    <td> {{vehicle.tyres}}</td> -->
                    <td> {{vehicle.id}}</td>

                    <button class="btn btn-danger" (click)="delete(vehicle.id)">Delete</button>
                 </tr>

          </tbody>
          </table>