<p>id-card works!</p>

<input type="text" [(ngModel)]="searchKeyword" (keyup)="search()">

<!-- sorting  -->
 <select [(ngModel)]="columnName">
    <option value="name"> name</option>
     <option value="dob"> dob</option>
      <option value="city">city</option>
       <option value="email">email</option>
</select>

<select [(ngModel)]="sortorder">
    <option value="asc">ascending order</option>
     <option value="desc"> descending order</option>

</select>

<button class="btn btn-warning" (click)="sort()">sort</button>

<select [(ngModel)]="items">
    <option value="5"> 5</option>
     <option value="10"> 10</option>
      <option value="15">15</option>
       <option value="20">20</option>
</select>

<select [(ngModel)]="pageNumber">
    <option value="1"> 1</option>
     <option value="2"> 2</option>
      <option value="3">3</option>
       <option value="4">4</option>
       <option value="5">5</option>
</select>

<button class="btn  btn-success" (click)="pagination()">pagination</button>








<div class="parent">

     <div class="card"  *ngFor="let student of Cards">
     
    <div class="top">
        <div class="topleft">
        <img src="{{student.school_logo}}" alt=""></div>
        <div class="topright">
            <h4>{{student.school_name}}</h4></div>

    </div>
     <div class="middle">
        <div class="left">
           <p> Name: {{student.name}}</p>
           <p> DOB:{{student.dob}}</p>
           <p>City: {{student.city}}</p>
           <p> Email:{{student.email}}</p>
          
        </div>
        <div class="right">
            <img src={{student.profile_picture}} alt="" width="200px" height="250px">
        </div>
     </div>
      <div class="bottom">
        <button class="btn btn-info"  routerLink="/dashboard/idCarddetals/{{student.id}}">view</button>
        <button class="btn btn-warning" routerLink="/dashboard/editidCards/{{student.id}}">Edit</button>
        <button class="btn btn-danger"  (click)="delete(student.id)">Delete </button>
      </div>
    
    </div>


</div>