<div class="parent">
    <div class="left">
        <h1 routerLink="/dashboard">My website</h1>
        <h2 routerLink="/dashboard/home">Home</h2>
        <h2 routerLink="/dashboard/gallery">Gallery</h2>
        <h2 routerLink="/dashboard/welcome">welcome</h2>
        <h2 routerLink="/dashboard/databinding">databinding</h2>
        <h2 routerLink="/dashboard/calculate">calculate</h2>
        <h2 routerLink="/dashboard/rectangle">rectangle</h2>
        <h2 routerLink="/dashboard/circle">circle</h2>
        <h2 routerLink="/dashboard/bmi">bmi</h2>
        <h2 routerLink="/dashboard/directives">directives</h2>
          <h2 routerLink="/dashboard/employee">Employee Data</h2>
           <h2 routerLink="/dashboard/product-task"> Product Task</h2>
             <h2 routerLink="/dashboard/vehicles"> vehicles</h2>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>
