<div class="parent">
    <div class="left">
        <h1 routerLink="/dashboard">Dash Board</h1>
        <h3 routerLink="/dashboard/home">Home</h3>
        <h3 routerLink="/dashboard/gallery">Gallery</h3>
        <h3 routerLink="/dashboard/welcome">welcome</h3>
        <h3 routerLink="/dashboard/databinding">databinding</h3>
        <h3 routerLink="/dashboard/calculate">calculate</h3>
        <h3 routerLink="/dashboard/rectangle">rectangle</h3>
        <h3 routerLink="/dashboard/circle">circle</h3>
        <h3 routerLink="/dashboard/bmi">bmi</h3>
        <h3 routerLink="/dashboard/directives">directives</h3>
        <h3 routerLink="/dashboard/employee">Employee Data</h3>
        <h3 routerLink="/dashboard/product-task"> Product Task</h3>
        <h3 routerLink="/dashboard/vehicles"> vehicles</h3>
        <h3 routerLink="/dashboard/mail"> mail</h3>
        <h3 routerLink="/dashboard/flipkart"> flipkart</h3>
        <h3 routerLink="/dashboard/pinInterest"> pinInterest</h3>
        <h3 routerLink="/dashboard/weatherreport"> weatherreport</h3>
        <h3 routerLink="/dashboard/create-vehicle"> create-vehicle</h3>
        <h3 routerLink="/dashboard/idCard"> idCard</h3>
        <h3 routerLink="/dashboard/createuser"> createUser</h3>
        <h3 routerLink="/dashboard/addidCard"> Add student</h3>
        <h3 routerLink="/dashboard/account"> Account</h3>
        <h3 routerLink="/dashboard/vehicle-details"> vehicle-details</h3>
        <h3 routerLink="/dashboard/addaccount"> Add-account</h3>
        <h3 routerLink="/dashboard/idCarddetals"> idCarddetals</h3>
        <h3 routerLink="/dashboard/sibling"> sibling</h3>
         <h3 routerLink="/dashboard/parent"> parent</h3>
 <button>logout</button>   
        </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>

